<a href="https://colab.research.google.com/github/SandhyaMourya/AIML/blob/main/BMI_Calc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data_json=pd.read_json('BMI_data.json')

In [ ]:
data_json

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

1) Calculate the BMI (Body Mass Index)

In [ ]:
data_json['BMI']=data_json.WeightKg/(data_json.HeightCm/100)

In [ ]:
data_json

   Gender  HeightCm  WeightKg        BMI
0    Male       171        96  56.140351
1    Male       161        85  52.795031
2    Male       180        77  42.777778
3  Female       166        62  37.349398
4  Female       150        70  46.666667
5  Female       167        82  49.101796

In [ ]:

BMI_Category=[]
Health_Risk=[]
overWeight_Count=0
for i in range(len(data_json)):
  if(data_json.BMI[i]<=18.4):
    BMI_Category.insert(i,'Underweight')
    Health_Risk.insert(i,'Malnutrition risk')
  elif(data_json.BMI[i]>=18.5 and  data_json.BMI[i]<=24.9):
    BMI_Category.insert(i,'Normla weight')
    Health_Risk.insert(i,'Low risk')
  elif(data_json.BMI[i]>=25 and  data_json.BMI[i]<=29.9):
    BMI_Category.insert(i,' Overweight')
    Health_Risk.insert(i,'Enhanced risk')
    overWeight_Count+=1
  elif(data_json.BMI[i]>=30 and  data_json.BMI[i]<=34.9):
    BMI_Category.insert(i,'Moderately Obese')
    Health_Risk.insert(i,'Medium risk')
  elif(data_json.BMI[i]>=35 and  data_json.BMI[i]<=39.9):
    BMI_Category.insert(i,'Severely weight')
    Health_Risk.insert(i,'High risk')
  else:
    BMI_Category.insert(i,'Very severely obese')
    Health_Risk.insert(i,'Very high risk')

In [ ]:
data_json.insert(4,'BMI_Category',BMI_Category)
data_json.insert(5,'Health_Risk',Health_Risk)

In [ ]:
data_json

   Gender  HeightCm  WeightKg        BMI         BMI_Category     Health_Risk
0    Male       171        96  56.140351  Very severely obese  Very high risk
1    Male       161        85  52.795031  Very severely obese  Very high risk
2    Male       180        77  42.777778  Very severely obese  Very high risk
3  Female       166        62  37.349398      Severely weight       High risk
4  Female       150        70  46.666667  Very severely obese  Very high risk
5  Female       167        82  49.101796  Very severely obese  Very high risk

2) Count the total number of overweight

In [ ]:
print(overWeight_Count)

0